/* Colors */
:root{
    --main-color:rgb(164, 126, 200);
    
}

/* body */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* ------------ Navbar ------------ */
nav {
    display: flex;
    align-items: center;
    height: 8.5vh;
    background-color: #1A1A2E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navh {
    width: 40%;
    display: flex;
    justify-content: center;
}
.navh div{
    border: 1px solid white;
    border-radius: 6px;
    font-size: 1.9rem;
    display: inline-block;
    padding: 0% 2%;
}

.navel {
    width: 60%;
}
#navul{
    display: flex;
    justify-content: center;
}

.navli {
    margin: 0 3%;
    list-style: none;
    transition: 0.3s;
}

.navli a {
    text-decoration: none;
    color: white;
    font-size: large;
    transition: font-size 0.5s;
}

.navli:hover {
    transform: scale(1.08);
}

.navli a:hover {
    color: var(--main-color);
}

/* --Min-size Nav ui-- */
#navbtn1{
    display: none;
    cursor: pointer;
}
#navbtn2{
    display: none;
    cursor: pointer;
}

/* ----------- main section 1 ----------- */
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url('Images/nature12.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.center1 {
    font-size: 3em;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.btns{
    width: 100%;
    height: 20%;
    display: block;
}
.btn0{
    width: 30%;
    height: 7vh;
    font-size: medium;
    border-radius: 6px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.4s;
}
.btn1{
    border: 2px solid white;
    background-color: rgb(14, 13, 13);
    color: white;
}
.btn2{
    border: 0px;
    background-color: lavender;
    font-weight: bold;
    color: black;
}
.btn0:hover{
    transform: scale(1.03);
}


#element {
    color: rgb(158, 76, 236);
}

main hr{
    border: 0;
    background-color: lavender;
    height: 0.1vh;
    margin: 6vh 3% 2%;
}


/* ------------------ section 2 -------------- */
.heading {
    font-size: 4em;
    color: var(--main-color);
    text-align: center;
    margin-top: 7vh;
}

#section2 {
    padding: 4% 0;
    display: flex;
    justify-content: center;
}

.left2 {
    width: 50%;
    display: flex;
    justify-content: center;

}

.left2 img {
    max-width: 60%;
    object-fit: cover;
    border-radius: 15px;

}

.right2 {
    width: 50%;
}

.aboutyou{
    font-size: large;
    width: 90%;
}

.tab-titles {
    display: flex;
    margin-top: 6%;
    width: 90%;
}

.tabs {
    margin-right: 10%;
    font-size: 1.5rem;
    cursor: pointer;
    padding-bottom: 0.5%;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-right-radius: 5px;
    transition: 0.4s;
}

#a1 {
    border-bottom-width: 3.1px;
}

#a1:hover {
    transform: scale(1.08);
}

#a2:hover {
    transform: scale(1.08);
}

.tab-content {
    border: 1px solid white;
    border-radius: 15px;
    width: 90%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8% 0;
    transition: 0.6s;
}

.tab-card {
    width: 90%;
    list-style: none;
}

.tab-content:hover {
    box-shadow: 5px 5px 5px rgb(158, 76, 236);
}

.tab-card li {
    font-size: large;
    color: rgb(158, 76, 236);
}

.tab-card p {
    font-size: 1.1rem;
    margin-bottom: 3%;
}

#tc2 {
    display: none;
}

/* ----------- Section 3 ----------- */
#section3 {
    margin-top: 3%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.cards {
    border: 1px solid white;
    border-radius: 25px;
    width: 25%;
    transition: 0.4s;
}
.cards:hover {
    box-shadow: 5px 6px 6px rgb(174, 124, 222);
    transform: scale(1.05);
}

.cards h1 {
    text-align: center;
    margin-top: 2%;
}

.card-content {
    font-size: 1.1rem;
    width: 88%;
    margin: 5% 5%;
}

/* ----------- Section-4 ----------- */
.projects{
    width: 25vw;
    height: 50vh;
    position: relative;
    margin: 8% 0 10% 0;
}
.projects img{
    width: 100%;    
    height: 100%;
    filter: grayscale(30%);
}
.content{
    width: 60%;
    height: 40%;
    display: none;
    color: black;
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.2);;
    /* transition: 1.4s; */
}
.content a{
    display: flex;
    justify-content: center;
    
}
.projects:hover .content{
    display: block;
}
#clickbtn{
    width: 10vw;
    height: 10vh;
}
#vehicle{
}
#Classification{
}
#clone{
}
.clickbtn{
}
.projects:hover .clickbtn{
    display: block;
}

/* ------------ Section-5 ---------- */

#section5{
    margin-top: 3%;
    display: flex;
}
#section5 > div{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left5{
    /* border: 1px solid red; */
    width: 80%;
}
.right5{
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: column;
}
.right5 input{
    margin-top: 4%;
    width: 80%;
    height: 5vh;
    justify-self: center;   
    background-color: #a9a7a7;
    color: black;
    cursor: pointer;
    font-size: medium;
    /* outline-style: none; */
    outline-color: rgb(164, 86, 237);
}
.right5 input::placeholder{
    color: black; 
}
.right5 textarea{
    margin-top: 4%;
    width: 80%;
    height: 10vh;
    resize: none;
    justify-self: center;
    font-size: large;
    background-color: #a9a7a7;
    outline-color: rgb(164, 86, 237);
    cursor: pointer;
}
.right5 textarea::placeholder{
    color: black; 
}
.right5 button{
    width: 25%;
    height: 5vh;
    margin-top: 4%;
    justify-self: center;
    font-size: large;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.right5 button:hover{
    transform: scale(1.03);
    border-color: rgb(164, 86, 237);
}
#msg{
    text-align: center;
    color: rgb(164, 86, 237);
}
/* ------------ footer ----------- */
footer {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
}

.tabhead{
    font-size: 1.8em;
    white-space: nowrap;
    color: rgb(189, 150, 226);
}
.f-tabs {
    margin-top: 16px;
}

.f-text {
    font-size: 0.93em;
    margin-left: 10px;
}
.f-text a{
    text-decoration: none;
    color: white;
}
.f-text a:hover{
    text-decoration: underline;
}
.centertab{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-tabs0{
    white-space: nowrap;
    margin-top: 16px;
}
.f-tabs1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 16px;
    white-space: nowrap;
}
.f-tabs2{
    white-space: nowrap;
}
.f-tabs1 a{
    text-decoration: none;
    color: white;
    margin-right: 8px;
    font-size: 0.93em;
}
.f-tabs1 a:hover{
    text-decoration: underline;
}
.f-tabs1 a i{
    margin-right: 2%;
}

/* ------- Last section ------- */
.last{
    background-color: #1A1A2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-top: 50px;
}
.last div{
    margin: 1% 0;
}

/* -------------- Media Query ------------- */
::-webkit-scrollbar {
    width: 0px;
}
@media (max-width: 1033px) {
    .cards{
        width: 28%;
    }
    .tabhead{
        font-size: 2.7vw;
    }
    .center1{
        width: 80%;
    }
}
@media (max-width: 824px) {
    nav{
        height: 8vh;
    }
    .heading{
        font-size: 2.9em;
    }
    .navh{
        width: 80%;
    } 
    .navh div{
        font-size: 4vw;
    }
    .navel{
        width: 100%;
        /* height: 100%; */
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: right;
        align-items: baseline;
    } 
    #navul {
        width: 30%;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: right;
        background-color: #1A1A2E;
        box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }
    #navul2{
        width: 10%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbtn1{
        margin: 13px 2px;
    }
    .navli{
        width: 25%;
        margin: 19px;
    }
    #navbtn2{
        display: block;
    }
    #section1{
        padding: 0;
        flex-direction: column-reverse;
        justify-content: center;
    }
    #section1 img{
        width: 90%;
    }
    .center1{
        width: 80%;
    }
    .btn0{
        width: 50%;
        font-size: 0.8rem;
    }
    .right1{
        width: 80%;
        margin-top: 4%;
    }
    #section2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left2{
        width: 100%;
    }
    .right2{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7%;
    }
    .tab-card{
        font-size: 3vw;
    }
    #section3{
        flex-direction: column;
    }
    .cards{
        width: 80%;
        height: 50%;
        margin-top: 7%;
    }
    .cards h1{
        font-size: 5vw;
    }
    .card-content{
        font-size: 3vw;
    }
    .projects{
        width: 50vw;
        height: 60vh;
    }
    #section5{
        flex-direction: column;
        align-items: center;
    }
    #section5 > div{
        width: 97%;
    }
    footer{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .tabhead{
        font-size: 1.5em;
    }
    .f-tabs{
        text-align: center;
        margin-bottom: 4%;
    }
    .last{
        font-size: 0.6em;
    }
}
@media (max-width: 418px) {
    nav{
        height: 6vh;
    }
    .heading{
        margin-top: 5vh;
        font-size: 2.5em;
    }
    .navh div{
        font-size: 6vw;
    }
    .namer{
        font-size: xx-large;
    }
    #section1 img{
        width: 95%;
    }
    .right1{
        margin-top: 0;
    }
}